@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Vendas</h1>
    <br />
    <p class="lead">
        Projeto ASP.NET MVC 5, utilizando DDD, Entity Framework, AutoMapper e Inversão de Controle.
    </p>
    <br />
    <p>
        Desenvolvido por <a href="https://github.com/kelvin-feltrin" target="_blank">Kelvin de Lucca Feltrin</a>.
    </p>
</div>